.menu{
    overflow: hidden;
}
ul{
    float: right;
    margin-right: 35px;
    
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 25px;
    
}
.top-section{
    height: 500px;
}
.welcome-hello{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.Faisal{
    border-radius: 31%;
}
img{
    width: 100%;
}

.welcome-hello h1{
    font-size: 57px;
}
.welcome-hello p{
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: gray;
}
.welcome-hello a{
    text-decoration: none;
    background: red;
    padding: 16px 31px;
    color: wheat;
    font-size: 20px;
    border-radius: 4px;
}
.welcome-hello span{
    color: chartreuse;
}
.about{
    margin-top: 132px;
}
.detels{
    color: chartreuse;
}
.lastet{
    color: darkgoldenrod;
}
.lets-work{
    text-align: center;
    
}
.lats-work{
    width: 25%;
    float: left;
    margin-left: 6%;
    background: #e3e3e3;
    border-radius: 13px;
}
.lats-work h3{
    text-align: center;
    font-size: 27px;
}
.lats-work p{
    text-align: center;
    font-size: 20px;
    color: gray;
}
.protfolio{
    height: 800px;
    background: #a9c7f3;
}
.protfolio h1{
    text-align: center;
    padding: 93px;
    font-size: 40px;
}
.protfolio h1 span{
    color: greenyellow;
}
.blog-titel{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 35%;
    margin: auto;
    padding: 82px;

}
.blog-titel p{
    color: gray;
}
.sigel-blog{
    width: 30%;
    background: white;
    float: left;
    padding-left: 7px;
    margin-left: 31px;
}
.sigel-blog h3{
    font-size: 33px;
}
.sigel-blog h4 span{
    color: rgb(133, 10, 10);
    font-size: 20px;
    
}
.sigel-blog h4{
    color: gray;
}
.sigel-blog p{
    font-size: 17px;
    color: gray;
}
.sigel-blog a{
    text-decoration: none;
    font-size: 19px;
    background: #c66969;
    padding: 7px;
    border-radius: 50px;
}
.all-blog{
    background: #f0e5e5;
    height: 859px;
}
.magazin{
    height: 188px;
    width: 55%;
    margin: auto;
    
}
.baner{
    margin-top: 90px;
}
.advice{
    margin-top: -155px;
    margin-left: 18px;
    font-size: 30px;
    color: white;
}
.chat{
    margin-left: 525px;
    margin-top: -100px;
}
.chat a{
    text-decoration: none;
    color: white;
    background: #ff5151;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
}
.footer-titel{
    text-align: center;
    padding: 109px;
}
.footer-titel h3{
    color: gray;
}
.footer-titel h1{
    color: #464242;
}


.icon{
    width: 5%;
    float: left;
    margin-left: 1%;
}

.social-icon{
    margin-left: 593px;
    margin-top: -105px; 
}
